name: code
on:
  pull_request:
  push:
    branches:
      - master
    paths:
      - pyproject.toml
      - poetry.lock
      - "**.py"
jobs:
  django-tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        django-version: ["~=5.0.0", "~=5.1.0"]
        psycopg-version: ["psycopg", "psycopg2"]
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: dpgs_sandbox
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: poetry install
      - name: Install Django specific version ${{ matrix.django-version }}
        run: poetry run pip install "Django${{ matrix.django-version }}"
      - name: Install psycopg specific version ${{ matrix.psycopg-version }}
        run: poetry run pip install ${{ matrix.psycopg-version }}
      - name: Run Tests
        run: |
          poetry run coverage run dpgs_sandbox/manage.py test tests -r
          poetry run dpgs_sandbox/manage.py test tests --settings settings.static_only -r
          poetry run coverage lcov -o ./coverage/lcov.info
      - name: Upload coverage to Coveralls in parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-py${{ matrix.python-version }}-Django${{ matrix.django-version }}
          parallel: true
  finish:
    needs: django-tests
    runs-on: ubuntu-latest
    steps:
      - name: Finish report to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
