name: code

on:
  pull_request:
  push:
    branches:
      - master
    paths:
      - pyproject.toml
      - uv.lock
      - "**.py"

jobs:
  django-tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
        django-version: ["5.2", "6.0"]
        psycopg-version: ["psycopg", "psycopg2"]
    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --name postgres --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: uv sync --group dev
      - name: Install Django specific version ${{ matrix.django-version }}
        run: uv pip install "Django~=${{ matrix.django-version }}"
      - name: Install psycopg specific version ${{ matrix.psycopg-version }}
        run: uv pip install ${{ matrix.psycopg-version }}
      - name: Run Tests
        run: |
          uv run pytest --cov="django_pgschemas" sandbox/tests
          uv run coverage lcov -o ./coverage/lcov.info
      - name: Upload coverage to Coveralls in parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-py${{ matrix.python-version }}-Django${{ matrix.django-version }}-${{ matrix.psycopg-version }}
          parallel: true
  finish:
    needs: django-tests
    runs-on: ubuntu-latest
    steps:
      - name: Finish report to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
