name: linters
on: [push]
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pypoetry
          key: py3.6-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            py-poetry-
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade poetry
          python -m poetry install
      - name: Run linters
        uses: pre-commit/action@v2.0.0
